GLFW_ICON ICON "resources/images/icon/icon.ico"

1 VERSIONINFO
FILEVERSION     2,2,0,4
PRODUCTVERSION  2,2,0,4
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041604E4"    // PT-BR
    BEGIN
      VALUE "CompanyName", "Grupo INSANO"
      VALUE "LegalCopyright", "(c) 2026 Grupo INSANO"

      VALUE "InternalName", "aquapura.exe"
      VALUE "FileVersion", "2.2.0"
      VALUE "FileDescription", "Jogo arcade 2D baseado no ODS 14"

      VALUE "OriginalFilename", "aquapura.exe"
      VALUE "ProductVersion", "2.2.0"
      VALUE "ProductName", "Operação Aquapura"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x416, 1252    // PT-BR
  END
END